{{!-- must remove post.post_url format because this partial doesnt know what post is it only knows the destructured variables --}}
<article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
      </div>
      <div class="meta">
        Posted by {{user.username}} on <span class="date">
        {{format_date created_at}}</span>
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>